<div class="wrapper">
  <span class="py-2 px-3 rounded-md cursor-pointer" (click)="toggleSkills()">// back</span>

  <div class="skills-wrapper rounded-md mt-8 p-4 flex"
  [ngClass]="{'items-center flex-col': isMobile}">
    <div class="flex flex-col"
    [ngClass]="{'items-center': isMobile}">
      <div class="compare mb-4 rounded-md active-thin w-fit hover:border-transparent"
      (click)="toggleIsComparing()">
        <p class="px-3 py-2 whitespace-nowrap cursor-pointer">{{isComparing ? '// cancel' : '// compare'}}</p>
      </div>

      <div class="skills rounded-md grid gap-4 w-fit active-thin p-4"
      [ngClass]="{'mb-8 grid-cols-7': isMobile, 'grid-cols-3 mr-8': !isMobile}">
        @for (skill of skillsList.skills; track $index) {
          <div class="image-wrapper w-6 cursor-pointer"
          [ngClass]="{'selected-skill': findSelected(skill)}"
          [matTooltip]="skill.name"
          (click)="selectionHandler(skill)">
            <img [src]="skill.imageSrc" [alt]="skill.name">
          </div>
        }
      </div>
    </div>

    @if (selection.selected.length > 0) {
      <skill-analysis-component class="w-full"
      [ngClass]="{'desktop': !isMobile}"
      [isMobile]="isMobile"
      [selection]="selection"></skill-analysis-component>
    } @else {
      <div class="flex justify-center items-center" [ngClass]="{'desktop text-xl': !isMobile}">
        <p class="text-center">// select a skill to view more detailed information here</p>
      </div>
    }
  </div>
</div>