<div class="wrapper h-full">
  <div class="flex justify-evenly items-center" [class]="isMobile ? '' : ''">
    <div class="image-wrapper" [class]="isMobile ? 'w-1/2' : 'w-96'">
      <img class="rounded-full" src="https://media.licdn.com/dms/image/C4E03AQE8zKIzHABiTQ/profile-displayphoto-shrink_800_800/0/1620419065424?e=2147483647&v=beta&t=UHSVsxE2y2qnFagSpcCJf1HfbC7b2ZnCt6axqIUA-OE" alt="brock-img">
    </div>
    <div class="summary break-words text-center w-1/2" [class]="isMobile ? 'pl-4 text-4xl' : 'text-6xl'">hi, i'm brock</div>
  </div>

  <div class="skills pt-8">
    <span class="py-2 px-3 rounded-md cursor-pointer text-2xl" [class]="isMobile ? '' : ''">// skills</span>
  </div>
</div>