<div class="wrapper flex flex-col items-center"
[class]="isMobile ? 'justify-between' : 'justify-center'">
  <span class="pt-4" [class]="isMobile ? 'text-5xl' : 'text-6xl pb-10'">contact.me()</span>

  <div class="flex flex-col justify-between"
  [class]="isMobile ? 'pt-8 items-center' : 'items-start'">
    <ng-container *ngFor="let button of buttons">
      <contact-button-component
      [isMobile]="isMobile"
      [button]="button"></contact-button-component>
    </ng-container>
  </div>
</div>