<div id="root" class="gradient-background" [class]="gradient" [style.opacity]="shouldReset ? 0.7 : 1">
  <header class="px-3 flex items-center justify-center bg-transparent">
    <ng-container *ngFor="let route of routes | keyvalue: unsorted">
      <div class="py-2 px-3 mx-3 cursor-pointer text-2xl rounded-md route"
      [ngClass]="{'active': currentUrl === route.value.url}"
      (click)="routeTo(route.value.url)">{{route.value.name}}</div>
    </ng-container>
  </header>
  
  <main class="p-3 h-full">
    <router-outlet></router-outlet>
  </main>
</div>