header {
    width: 100%;
    height: 5rem;
}

main {
    height: calc(100vh - 5rem);
    overflow-y: auto;

    &.no-scroll {
        overflow-y: hidden;;
    }
}

.gradient-background {
    transition: opacity 0.1s ease-in-out !important;

    &.orange-red {
        background-image: linear-gradient(to right, #ff3131, #ff914D);
    }

    &.blue-light-blue {
        background-image: linear-gradient(to right, #5263ff, #5ce1e6);
    }

    &.pink-orange {
        background-image: linear-gradient(to right, #ff66c4, #ffbf57);
    }

    &.blue-yellow {
        background-image: linear-gradient(to right, #0cc0df, #ffde59);
    }

    .route {
        transition: all 0.1s ease-in;
        border: 4px solid transparent;
    }

    .route:hover:not(.active) {
        @extend .active;
        border-width: 4px !important;
    }

    &.mobile {
        main {
            overflow-x: hidden;
        }

        .icon {
            background-color: inherit;
            transition: background-color 0.5s ease-in-out;
            border: 1px solid transparent;
            
            :hover {
                animation: roll 0.5s;
            }

            &.icon-opened {
                background-color: rgb(0 0 0 / 54%);
            }

            .mat-icon {
                width: auto;
                height: 100%;
                display: flex;
                font-size: 56px;
                justify-content: center;
                align-items: center;
            }
        }

        .nav {
            right: -100vw;
            transition: all 0.5s ease-in-out;

            .overlay {
                background-color: rgb(0 0 0 / 54%);
            }

            :last-child {
                overflow-y: auto;
            }

            &.open {
                right: 0;
                height: calc(100% - 5rem);
            }

            &.closed {
                right: -100vw;
            }
        }
    }

    .suggestion {
        transition: all 0.5s ease-in-out;
        bottom: -10rem;

        &.open {
            bottom: 0;
        }

        &.closed {
            bottom: -10rem;
        }
    }

    .active {
        border: 1px solid white;
    }
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}