<div class="wrapper p-4 rounded-md w-full">
  <div class="container flex" [class]="isMobile ? 'flex-col items-center' : ''">
    <div class="image-wrapper w-16 h-20">
      <img [src]="skill.imageSrc" [alt]="skill.name">
    </div>

    <percent-graph-component class="w-full mb-8"
    [isMobile]="isMobile"
    [skill]="skill"></percent-graph-component>

    <non-percent-graph-component class="w-full"
    [isMobile]="isMobile"
    [skill]="skill"></non-percent-graph-component>

    <!-- <div class="info">{{skill.name}} asdf asdf asdf asdfasdf asdf asdf</div> -->
  </div>
</div>