<div class="flex">
  <div class="flex flex-col items-end pr-2" [class]="isMobile ? 'w-fit' : 'w-28'">
    <ng-container *ngFor="let skillAttribute of skillAttributes; let i = index">
      <p class="w-fit text-xs text-nowrap whitespace-nowrap py-2" [ngClass]="{'pt-4': i === 0}">{{skillAttribute.name}}</p>
    </ng-container>
  </div>

  <div class="flex flex-col w-full">
    <div class="border-l-4 border-b-4 rounded-bl-md border-white">
      <div class="flex justify-start flex-col w-full">
        <ng-container *ngFor="let skillAttribute of skillAttributes; let i = index">
          <graph-bar-component class="w-full py-2"
          [isMobile]="isMobile"
          [skillAttribute]="skillAttribute"
          [skillColor]="skillColor"
          [ngClass]="{'pt-4': i === 0}"></graph-bar-component>
        </ng-container>
      </div>
    </div>
    <div class="measurement flex justify-between">
      <span>{{isPercentGraph ? '0%' : '0'}}</span>
      <span>{{isPercentGraph ? '50%' : '5'}}</span>
      <span>{{isPercentGraph ? '100%' : '10'}}</span>
    </div>
  </div>
</div>